








<div class="auth-box bg-light border d-flex flex-column gap-4 justify-content-between p-5 position-absolute rounded-3 start-50 top-50 translate-middle">
   
   <div class="align-content-center d-flex justify-content-center">
      <img src="../../../../../assets/images/auth_cover.svg" alt="waiter server customer in a restaurant" class="cover_img">
   </div>


   <div>
      <form [formGroup]="sign_in_form">

         <div class="form-floating">
           <input type="text" class="form-control" id="username" placeholder="اسم المستخدم" formControlName="username">
           <label for="username">اسم المستخدم</label>
         </div>

         <div class="form-floating mt-1">
           <input type="password" class="form-control" id="password" placeholder="كلمة المرور" formControlName="password">
           <label for="password">كلمة المرور</label>
         </div>
     
         <button class="w-100 btn btn-lg text-white mt-3 sign-in-btn shadow-0" type="button" (click)="sign_in();">تسجيل الدخول</button>

      </form>
   </div>


</div>
