


.auth-box
{
   max-width: 600px;
   width: 90%;
}

.cover_img
{
   width: 68%;
}

.sign-in-btn
{
   background: var(--color-4);
   border-color: var(--color-4);
}


@media screen and (max-width: 992px)
{
   


}