





<div class="d-flex flex-column h-100">


   <!-- header -->
   <div class="border-3 border-bottom d-flex flex-row-reverse mx-5 py-4">

      <div class="d-flex gap-4 align-items-center flex-row-reverse">
         <button class="view-btn btn floor-btn" [ngClass]="{ 'active': home_view_mode == 1 }" (click)="changing_home_view(1);">الصالة</button>
         <button class="view-btn btn floor-btn" [ngClass]="{ 'active': home_view_mode == 2 }" (click)="changing_home_view(2);">دليڤري</button>
      </div>

   </div>


   <!-- body -->
   <app-hall-section *ngIf="home_view_mode == 1"></app-hall-section>
   <app-delivery-section *ngIf="home_view_mode == 2" class="h-100"></app-delivery-section>
   <app-add-client-section *ngIf="home_view_mode == 3"></app-add-client-section>

</div>