


.outer-box
{
   max-width: 800px;
}


.print-btn
{
   box-shadow: 0 5px 0px black;
}

.print-btn:hover
{
   box-shadow: none;
   transform: translateY(5px);
   transition: all 0.6s;
}

.print-btn-box
{
   top: -63px;
}

.return-box
{
   bottom: 8%;
   left: 50%;
   transform: translateX(-50%);
}