


<table class="table dir-rtl">
   <thead>
     <tr>
       <th scope="col" class="text-muted fs-6">المنتج</th>
       <th scope="col" class="text-muted fs-6">العدد</th>
       <th scope="col" class="text-muted fs-6">السعر</th>
     </tr>
   </thead>
   <tbody>

     <tr *ngFor="let order of data;">
      <td class="gap-2 d-flex align-items-center dir-rtl" *ngIf="order.menu_categories_items"> 
        <img 
        src="{{ order.menu_categories_items.photo ? image_url + order.menu_categories_items.photo : place_holder_img }}" 
        width="36" 
        height="36" 
        alt="food"
        > 
        <h2 class="m-0 fs-6 fw-bold">{{ order.menu_categories_items ? order.menu_categories_items.name : "--" }}</h2>
      </td>
      <td class="fs-6 fw-bold">{{ order.amount || 0 }}</td>
      <td class="dir-rtl fs-6 fw-bold">{{ order.total || 0 }} ر.س</td>
     </tr>

   </tbody>
</table>